// Wide Screens 
@include mediaXl {
}

// Dekstop  and Laptops 
@include mediaLg {
}

// Tablets and Small Laptop
@include mediaMd {
    main {
        align-items: center;
        text-align: center;

        .lg_heading {
            line-height: 1;
            margin-bottom: 1rem;
        }
    }

    ul.menu_nav,div.menu_branding {
        float: none;
        width: 100%;
        min-height: 0;

        &.show {
            transform: translate(0,0,0);
        }
    }
    .menu_nav {
        height: 60vh;
        transform: translate(-100%,0,0);
        font-size: 24px;
    }
    .menu_branding {
        height: 40vh;
        transform: translate3d(100%,0,0);

        .profile_photo {
            width: 150px;
            height: 150px;
        }
    }

    // About Page
    .about_me_info {
        grid-template-areas: 
        'profile_image'
        'bio'
        'job1'
        'job2'
        'job3';

        grid-template-columns: 1fr;
    }
}



// Smartphone 
@include mediaSm { 
    main#hero_home h1 {
        font-size: 50px;
        // display: none;
        // margin-top: 10vh;
    }
}