@import 'config';
@import 'menu';

@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700');

* {
    box-sizing: border-box;
}
body {
    @include background;
    background: $default-color;
    color: set-text-color($default-color);
    height: 100%;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

// ==============================
// HEADINGS
// ==============================
h1,
h2,
h3 {
    margin: 0;
    font-weight: 400;

    &.lg_heading {
        font-size: 4rem;
    }
    &.sm_heading {
        font-weight: 300;
        margin-bottom: 2rem;
    }
}

a {
    color: #fff;
    text-decoration: none;
}

header {
    position: fixed;
    z-index: 2;
    width: 100%;
}

.cl_danger {
    color: $danger-color;
}

main {
    padding: 4rem;
    // height: 100%;
    min-height: calc(100vh - 90px); // this will make the footer sticky

    &#hero_home {
        overflow: hidden;
        h1, h2, .social_icons {
            text-align: center;
        }
        h1 {
            margin-top: 25vh;  
        }
    }
    .social_icons {
        margin-top: 1rem;

        a {
            padding: 0.4rem;

            &:hover {
                color: $danger-color;
                @include easeOut;
            }
        }
    }
}

// About Page

#about h1, h2, .social_icons {
    text-align: center;
}
.lg_heading {
    margin-top: 50px;
}

.about_me_info {
    margin-top: 3rem;
    display: grid;
    grid-gap: 30px;
    grid-template-areas:
    'profile_image bio bio'
    'job1 job2 job3';
    grid-template-columns: repeat(3, 1fr);

    .profile_image {
        grid-area: profile_image;
        width: 150px;
        height: 150px;
        margin: auto;
        border-radius: 50%;
        border: $danger-color 3px solid;
    }
    .bio {
        grid-area: bio;
        font-size: 1rem;
        font-weight: 300;

        .fb_link {
            color: $primary-color;
            font-weight: 400;
        }
    }
    .job-1 {
        grid-area: job1;
    }
    .job-2 {
        grid-area: job2;
    }
    .job-3 {
        grid-area: job3;
    }

    .job {
        font-size: 1rem;
        font-weight: 300;
        background: lighten($default-color, 9);
        padding: 1rem;
        border-top: $warning-color solid 3px;
        border-bottom: $danger-color solid 3px;
        @include easeOut;
        
        &:hover {
            border-top: $danger-color solid 3px;
            border-bottom: $warning-color solid 3px;
            background: #333;
        }
    }
}

#main_footer {
    padding: 1rem;
    text-align: center;
    background: darken($default-color, 10);
    color: set-text-color($default-color);
    height: 90px;
    
    p {
        font-weight: 300;
    }
}

@import 'media_querries';